header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 77px;
  /* background-color: white; */
  background-image: url('src/assets/unicorn-wallpaper.png');
  background-size: cover;
  color: rgb(0, 78, 188);
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  position: fixed;
}

h1 {
  margin: 0;
  cursor: pointer;
}

nav {
  display: flex;
  flex-direction: column;
}

.nav-hanger,
.nav-outfit {
  color: inherit;
  text-decoration: none;
}

